@use "sass:math";
@import "variables";
@mixin min-desktop{
  @media (min-width: 769px) { @content; }
}
@mixin modal {
  &__confirm {
    &-text {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
    }
    span {
      margin-bottom: 1rem;
      word-break: break-word;
    }
    &-btns {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.6rem;
    }
  }
}

@function rem($size) {
  @return #{math.div($size,$remFontSize)}rem
}

@mixin custom-scrollbar-thick {
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: $color-grey-600;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-grey-400;
    border-radius: 5px;
  }
}
