$remFontSize: 16;
//Colors
$color-white: #fff;
$color-black: #000;

$color-red-base: #D65656;

$color-light-blue: #99D5E2;
$color-purple: #CF99E2;
$color-light-lemon: #E2D299;

$color-green-light: #99E2A9;
$color-green-base: #5CC172;

$color-grey-50: #F2F2F2;
$color-grey-100: #E6E6E6;
$color-grey-200: #CBCCCD;
$color-grey-400: #888C8F;
$color-grey-500: #646566;
$color-grey-600: #3D3E40;
$color-grey-700: #313233;
$color-grey-800: #272829;
$color-grey-900: #202122;

$color-grey-lighter: #b4b9c3;
$color-grey-light: #7b7f87;
$color-grey: #5d616b;
$color-grey-dark: #414755;
$color-grey-dark-2: #3c414e;
$color-grey-darker: #343a46;

$color-nav-1: #464d5a;
$color-nav-2: #5c6578;
$gradient-nav-3: linear-gradient(180deg, #5a6577 -11.3%, #282c37 198.89%);

//Fonts
$font-family-primary: "Inter", sans-serif;
